
.gradle/
.idea/

build.gradle
build/
gradle/
gradlew
gradlew.bat
gradle.properties
settings.gradle
local.properties
notes.txt
slipwire.iml

mobile/
tv/

slipwire/*
!slipwire/src/main/java/**/*
!slipwire/src/main/AndroidManifest.xml